<%content_for :css do%>
<%end%>


<div class="sl-pagebody">

  <div class="sl-page-title">
    <div class="card pd-20 pd-sm-40">

      <h6 class="card-body-title">初审信息</h6>

      <%= form_tag('/admin/verify/first_verify', class:'stdform') do %>
          <%= hidden_field_tag 'id', params[:id] %>
          <div class="form-layout">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">借款详细用途: </label>
                  <%= text_field_tag('message[jkxxyt]',@message.jkxxyt, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">合同序列号: </label>
                  <%= text_field_tag('message[htxlh]',@message.htxlh, {class: 'form-control',disabled:''}) %>
                </div>
              </div>


              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label">标的名称: </label>
                  <%= text_field_tag('message[bdmc]',@message.bdmc, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label">标的类型: </label>
                  <%= text_field_tag('message[bdlx]',@message.bdlx, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">借款金额: </label>
                  <%= text_field_tag('loan[jkje]',@loan.jkje, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">借款期限: </label>
                  <%= text_field_tag('loan[jkqx]',@loan.jkqx, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">平台管理费: </label>
                  <%= text_field_tag('loan[fwf]',@loan.fwf, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">保险押金: </label>
                  <%= text_field_tag('loan[bxyj]',@loan.bxyj, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">违章押金: </label>
                  <%= text_field_tag('loan[wzyj]',@loan.wzyj, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">产品: </label>
                  <%= text_field_tag('loan[product]',Product.find(@loan.product_id).name, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">姓名: </label>
                  <%= text_field_tag('loan[name]',@loan.name, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">性别: </label>
                  <%= text_field_tag('message[xb]',@message.xb, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">年龄: </label>
                  <%= text_field_tag('message[nl]',@message.nl, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class="form-control-label">移动电话: </label>
                  <%= text_field_tag('message[yddh]',@message.yddh, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label">婚姻状况: </label>
                  <%= text_field_tag('message[hyzk]',@message.hyzk, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group">
                  <label class="form-control-label">身份证号: </label>
                  <%= text_field_tag('message[sfz]',@message.sfz, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label">学历: </label>
                  <%= text_field_tag('message[xl]',@message.xl, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group">
                  <label class="form-control-label">住宅电话或手机: </label>
                  <%= text_field_tag('message[zzdh]',@message.zzdh, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">户籍详细地址: </label>
                  <%= text_field_tag('message[hjxxdz]',@message.hjxxdz, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label">现居住地址: </label>
                  <%= text_field_tag('message[xjdz]',@message.xjdz, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">起住时间: </label>
                  <%= text_field_tag('message[qsjzsj]',@message.qsjzsj, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">供养亲属人数: </label>
                  <%= text_field_tag('message[gyqsrs]',@message.gyqsrs, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">房产类别: </label>
                  <%= text_field_tag('message[fclb]',@message.fclb, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label">单位性质: </label>
                  <%= text_field_tag('message[dwxz]',@message.dwxz, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group">
                  <label class="form-control-label">工作单位: </label>
                  <%= text_field_tag('message[gzdw]',@message.gzdw, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">所属行业: </label>
                  <%= text_field_tag('message[sshy]',@message.sshy, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">职位: </label>
                  <%= text_field_tag('message[zw]',@message.zw, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">起始工作时间: </label>
                  <%= text_field_tag('message[qsgzsj]',@message.qsgzsj, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group">
                  <label class="form-control-label">单位地址: </label>
                  <%= text_field_tag('message[dwdz]',@message.dwdz, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label">单位电话: </label>
                  <%= text_field_tag('message[dwdh]',@message.dwdh, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">月收入约(元): </label>
                  <%= text_field_tag('message[jbsr]',@message.jbsr, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-qtsr">其他收入约(元): </label>
                  <%= text_field_tag('message[qtsr]',@message.qtsr, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">每月总收入(元): </label>
                  <%= text_field_tag('message[zsr]',@message.zsr, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">配偶姓名: </label>
                  <%= text_field_tag('message[qs1]',@message.qs1, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">关系: </label>
                  <%= text_field_tag('message[qs1_gx]',@message.qs1_gx, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">移动电话: </label>
                  <%= text_field_tag('message[qs1_dh]',@message.qs1_dh, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">直系亲属姓名: </label>
                  <%= text_field_tag('message[qs2]',@message.qs2, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">关系: </label>
                  <%= text_field_tag('message[qs2_gx]',@message.qs2_gx, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">移动电话: </label>
                  <%= text_field_tag('message[qs2_dh]',@message.qs2_dh, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">其他联系人姓名: </label>
                  <%= text_field_tag('message[qs3]',@message.qs3, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">关系: </label>
                  <%= text_field_tag('message[qs3_gx]',@message.qs3_gx, {class: 'form-control',disabled:''}) %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">移动电话: </label>
                  <%= text_field_tag('message[qs3_dh]',@message.qs3_dh, {class: 'form-control',disabled:''}) %>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">汽修宝: <span class="tx-danger">*</span></label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.first_verify==Loan::VERIFYFAIL %>
                            <th style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="qxb" class="custom-file-input">
                              </label>
                              <a onclick="upload('qxb')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-qxb">
                      <% @loan.loan_images.where(style:'qxb').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.first_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', admin_loan_image_path(ele), method: :delete, data: { confirm: '确定删除?' }%>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">车300评估: <span class="tx-danger">*</span></label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.first_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="csb" class="custom-file-input">
                              </label>
                              <a onclick="upload('csb')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-csb">
                      <% @loan.loan_images.where(style:'csb').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.first_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">网查执法网: <span class="tx-danger">*</span></label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.first_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="wczfw" class="custom-file-input">
                              </label>
                              <a onclick="upload('wczfw')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-wczfw">
                      <% @loan.loan_images.where(style:'wczfw').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.first_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">失信网: <span class="tx-danger">*</span></label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.first_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="sxw" class="custom-file-input">
                              </label>
                              <a onclick="upload('sxw')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-sxw">
                      <% @loan.loan_images.where(style:'sxw').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.first_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">汽车违章: <span class="tx-danger">*</span></label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.first_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="qcwz" class="custom-file-input">
                              </label>
                              <a onclick="upload('qcwz')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-qcwz">
                      <% @loan.loan_images.where(style:'qcwz').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.first_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">保险出单: <span class="tx-danger">*</span></label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.first_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="bxcd" class="custom-file-input">
                              </label>
                              <a onclick="upload('bxcd')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-bxcd">
                      <% @loan.loan_images.where(style:'bxcd').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.first_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">现场车况检查: <span class="tx-danger">*</span></label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.first_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="xcck" class="custom-file-input">
                              </label>
                              <a onclick="upload('xcck')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-xcck">
                      <% @loan.loan_images.where(style:'xcck').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.first_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-xs-6">&nbsp;</div>
            </div><!-- row -->
          </div><!-- form-layout -->
      <%end%>
    </div>
  </div><!-- sl-page-title -->
  <div class="sl-page-title">
    <div class="card pd-20 pd-sm-40">

      <h6 class="card-body-title">复审</h6>

      <%= form_tag('/admin/verify/financial_verify', class:'stdform') do %>
          <%= hidden_field_tag 'id', params[:id] %>
          <div class="form-layout">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">借款人资料: </label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.review_verify==Loan::VERIFYFAIL %>
                            <th style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="jkrzl" class="custom-file-input">
                              </label>
                              <a onclick="upload('jkrzl')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-jkrzl">
                      <% @loan.loan_images.where(style:'jkrzl').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.review_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', admin_loan_image_path(ele), method: :delete, data: { confirm: '确定删除?' }%>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">车辆照片: </label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.review_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="clzp" class="custom-file-input">
                              </label>
                              <a onclick="upload('clzp')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-clzp">
                      <% @loan.loan_images.where(style:'clzp').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.review_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">合同签署: </label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.review_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="htqs" class="custom-file-input">
                              </label>
                              <a onclick="upload('htqs')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-htqs">
                      <% @loan.loan_images.where(style:'htqs').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.review_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">GPS安装照: </label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.review_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="gpsazz" class="custom-file-input">
                              </label>
                              <a onclick="upload('gpsazz')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-gpsazz">
                      <% @loan.loan_images.where(style:'gpsazz').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.review_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">银行征信: </label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.review_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="yhzz" class="custom-file-input">
                              </label>
                              <a onclick="upload('yhzz')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-yhzz">
                      <% @loan.loan_images.where(style:'yhzz').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.review_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" style="overflow: auto">
                  <label class="form-control-label">家访照片: </label>
                  <div class="table-responsive">
                    <table class="table mg-b-0">
                      <thead>
                      <tr>
                        <th>文件名</th>
                        <th style="width: 200px">日期</th>
                        <% if @loan.review_verify==Loan::VERIFYFAIL %>
                            <th  style="width: 100px">
                              <label class="custom-file" style="display: none">
                                <input type="file" class="loan-file" id="jfzp" class="custom-file-input">
                              </label>
                              <a onclick="upload('jfzp')">上传</a>
                            </th>
                        <% end %>
                      </tr>
                      </thead>
                      <tbody id="table-loan-jfzp">
                      <% @loan.loan_images.where(style:'jfzp').each do |ele| %>
                          <tr>
                            <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                            <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                            <% if @loan.review_verify==Loan::VERIFYFAIL %>
                                <td>
                                  <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                                </td>
                            <% end %>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><!-- col-4 -->

              <%if @loan.pay_verify==Loan::UNVERIFIED%>
                  <div class="form-layout-footer col-lg-12">
                    <button name="pay_verify" value="verifypass" class="btn btn-info mg-r-5">审核通过</button>
                    <button name="pay_verify" value="verifyfail"  class="btn btn-secondary mg-r-5">审核不通过</button>
                  </div><!-- form-layout-footer -->
                  <%else%>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">审核: <span class="tx-danger">*</span></label>
                      <div class="controls">
                        <%=radio_button_tag('pay_verify',Loan::VERIFYPASS,@loan.pay_verify==Loan::VERIFYPASS ? '1' : nil)%>通过
                        <%=radio_button_tag('pay_verify',Loan::VERIFYFAIL,@loan.pay_verify==Loan::VERIFYFAIL ? '1' : nil)%>不通过

                      </div>
                    </div>
                  </div>
              <%end%>
            </div><!-- row -->
          </div><!-- form-layout -->
      <%end%>
    </div>
  </div><!-- sl-page-title -->

</div><!-- sl-pagebody -->