
    <div class="card pd-20 pd-sm-40 mg-t-20">

      <h6 class="card-body-title  mg-b-20">初审信息</h6>


      <%= form_tag('/admin/loans/basic', {enctype: 'multipart/form-data',class:'stdform'}) do %>
          <%= hidden_field_tag 'basic[loan_id]', params[:id] %>
          <div class="form-layout">
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">分公司: </label>
                  <%= text_field_tag('basic[company]',@basic.company, {class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">贷款形式: </label>
                  <%= text_field_tag('basic[dkxs]', @basic.dkxs,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">贷款类型: </label>
                  <!--= text_field_tag('basic[dklx]', @basic.dklx,{class: 'form-control'}) %-->
                  <select name="basic[dklx]" class="form-control select2" data-placeholder="Choose Browser">
                    <option value="全款车"<%=@basic.dklx=='全款车' ? 'selected' : ''%>>全款车</option>
                    <option value="按揭车"<%=@basic.dklx=='按揭车' ? 'selected' : ''%>>按揭车</option>
                    <option value="房贷"<%=@basic.dklx=='房贷' ? 'selected' : ''%>>房贷</option>
                  </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">贷款期限: </label>
                  <!--= text_field_tag('basic[dkqx]', @basic.dkqx,{class: 'form-control'}) %-->
                  <select name="basic[dkqx]" class="form-control select2" data-placeholder="Choose Browser">
                    <option value="1"<%=@basic.dkqx=='1' ? 'selected' : ''%>>1</option>
                    <option value="2"<%=@basic.dkqx=='2' ? 'selected' : ''%>>2</option>
                    <option value="3"<%=@basic.dkqx=='3' ? 'selected' : ''%>>3</option>
                    <option value="6"<%=@basic.dkqx=='6' ? 'selected' : ''%>>6</option>
                    <option value="12"<%=@basic.dkqx=='12' ? 'selected' : ''%>>12</option>
                    <option value="18"<%=@basic.dkqx=='18' ? 'selected' : ''%>>18</option>
                    <option value="24"<%=@basic.dkqx=='24' ? 'selected' : ''%>>24</option>
                    <option value="30"<%=@basic.dkqx=='30' ? 'selected' : ''%>>30</option>
                    <option value="36"<%=@basic.dkqx=='36' ? 'selected' : ''%>>36</option>
                    <option value="15"<%=@basic.dkqx=='15' ? 'selected' : ''%>>15</option>
                  </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">担保方式: </label>
                  <%= text_field_tag('basic[dbfs]', @basic.dbfs,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">还款方式: </label>
                  <%= text_field_tag('basic[hkfs]', @basic.hkfs,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">贷款产品: </label>
                  <!--= text_field_tag('basic[dkcp]', @basic.dkcp,{class: 'form-control'}) %-->
                  <select name="basic[dkcp]" class="form-control select2" data-placeholder="Choose Browser">
                    <%Product.where({}).each do |ele|%>

                        <option value="<%=ele.name%>"<%=@basic.dkcp==ele.name ? 'selected' : ''%>><%=ele.name%></option>
                        <%end%>
                  </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">贷款金额: </label>
                  <%= text_field_tag('basic[dkje]', @basic.dkje,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">临时额度: </label>
                  <%= text_field_tag('basic[lsed]', @basic.lsed,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">总借款金额: </label>
                  <input type="text" name="basic[zjkje]" id="basic[zjkje]" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" value="<%=@basic.zjkje%>">
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">合同编号: </label>
                  <%= text_field_tag('basic[hkzl]', @basic.hkzl,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">借款用途: </label>
                  <%= text_field_tag('basic[jkyt]', @basic.jkyt,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">还款来源: </label>
                  <%= text_field_tag('basic[hkly]', @basic.hkly,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">贷款期限单位: </label>
                  <!--= text_field_tag('basic[dkqxdw]', @basic.dkqxdw,{class: 'form-control'}) %-->
                  <select name="basic[dkqxdw]" class="form-control select2" data-placeholder="Choose Browser">
                    <option value="月"<%=@basic.dkqxdw=='月' ? 'selected' : ''%>>月</option>
                    <option value="日"<%=@basic.dkqxdw=='日' ? 'selected' : ''%>>日</option>
                  </select>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">开始日期: </label>
                  <%= text_field_tag('basic[ksrq]',(@basic.ksrq.present? ? @basic.ksrq : Time.now).strftime("%Y-%m-%d"), {class: 'form-control fc-datepicker'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">结束日期: </label>
                  <%= text_field_tag('basic[jsrq]',(@basic.jsrq.present? ? @basic.jsrq : Time.now).strftime("%Y-%m-%d"), {class: 'form-control fc-datepicker'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">业务员姓名: </label>
                  <%= text_field_tag('basic[zdr]', @basic.zdr,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">制单日期: </label>
                  <%= text_field_tag('basic[zdrq]',(@basic.zdrq.present? ? @basic.zdrq : Time.now).strftime("%Y-%m-%d"), {class: 'form-control fc-datepicker'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">服务费: </label>
                  <input type="text" name="basic[fwf]" id="basic[fwf]" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" value="<%=@basic.fwf%>">
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">违章押金: </label>
                  <input type="text" name="basic[wzyj]" id="basic[wzyj]" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" value="<%=@basic.wzyj%>">
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">保险押金: </label>
                  <input type="text" name="basic[bxyj]" id="basic[bxyj]" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" value="<%=@basic.bxyj%>">
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">申请表: </label>
                  <% if @basic.status==Loan::VERIFYFAIL %>
                      <%= file_field_tag('basic[sqb]') %>
                      <%= hidden_field_tag('basic[sqb_cache]') %>
                  <% end %>
                  <% if @basic.sqb.present? %>
                      <a href="<%= @basic.sqb_url.to_s %>" target="_blank">
                        <%= image_tag(@basic.sqb_url.to_s, class: 'col-12') %>
                      </a>
                  <% end %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">车辆信息表: </label>
                  <% if @basic.status==Loan::VERIFYFAIL %>
                      <%= file_field_tag('basic[clxxb]') %>
                      <%= hidden_field_tag('basic[clxxb_cache]') %>
                  <% end %>
                  <% if @basic.clxxb.present? %>
                      <a href="<%= @basic.clxxb_url.to_s %>" target="_blank">
                        <%= image_tag(@basic.clxxb_url.to_s, class: 'col-12') %>
                      </a>
                  <% end %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">车辆检测表: </label>
                  <% if @basic.status==Loan::VERIFYFAIL %>
                      <%= file_field_tag('basic[cljcb]') %>
                      <%= hidden_field_tag('basic[cljcb_cache]') %>
                  <% end %>
                  <% if @basic.cljcb.present? %>
                      <a href="<%= @basic.cljcb_url.to_s %>" target="_blank">
                        <%= image_tag(@basic.cljcb_url.to_s, class: 'col-12') %>
                      </a>
                  <% end %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">营业部审批表: </label>
                  <% if @basic.status==Loan::VERIFYFAIL %>
                      <%= file_field_tag('basic[yybspb]') %>
                      <%= hidden_field_tag('basic[yybspb_cache]') %>
                  <% end %>
                  <% if @basic.yybspb.present? %>
                      <a href="<%= @basic.yybspb_url.to_s %>" target="_blank">
                        <%= image_tag(@basic.yybspb_url.to_s, class: 'col-12') %>
                      </a>
                  <% end %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">车300: </label>
                  <% if @basic.status==Loan::VERIFYFAIL %>
                      <%= file_field_tag('basic[csb]') %>
                      <%= hidden_field_tag('basic[csb_cache]') %>
                  <% end %>
                  <% if @basic.csb.present? %>
                      <a href="<%= @basic.csb_url.to_s %>" target="_blank">
                        <%= image_tag(@basic.csb_url.to_s, class: 'col-12') %>
                      </a>
                  <% end %>
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->

            <% if @basic.status==Loan::VERIFYFAIL %>
                <div>
                  <div class="form-group">
                    <label class="form-control-label">是否提交审核: <span class="tx-danger">*</span></label>
                    <div class="controls">
                      <%= radio_button_tag('basic[status]', Loan::VERIFYFAIL, @basic.status==Loan::VERIFYFAIL ? '1' : nil) %>
                      暂不提交审核
                      <%= radio_button_tag('basic[status]', Loan::UNVERIFIED, @basic.status==Loan::UNVERIFIED ? '1' : nil) %>
                      提交审核
                    </div>
                  </div>
                </div>

                <div class="form-layout-footer">
                  <button class="btn btn-info mg-r-5">保存</button>
                </div><!-- form-layout-footer -->
            <% elsif @basic.status==Loan::VERIFYPASS %>

                <div class="form-layout-footer">
                  <div style="text-align: right;color: green">审核通过</div>
                </div><!-- form-layout-footer -->
            <% else %>

                <div class="form-layout-footer">
                  <div style="text-align: right;color: red">审核中</div>
                </div><!-- form-layout-footer -->
            <% end %>

          </div><!-- form-layout -->
      <%end%>
    </div>
  </div><!-- sl-page-title -->
