
<div class="card pd-20 pd-sm-40 mg-t-20">

  <h6 class="card-body-title  mg-b-20">车审信息</h6>


  <h6 class="card-body-title  mg-b-20" style="color: #888888">基本信息</h6>
      <%= form_tag('/admin/loans/car', class:'stdform') do %>
          <%= hidden_field_tag 'car[loan_id]', params[:id] %>
          <div class="form-layout">
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">押品编码: </label>
                  <%= text_field_tag('car[no]',@car.no, {class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">质/抵押人: </label>
                  <%= text_field_tag('car[name]', @car.name,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">评估日期: </label>
                  <%= text_field_tag('car[pgrq]', @car.pgrq,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">评估价值: </label>
                  <%= text_field_tag('car[pgjz]', @car.pgjz,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">起始日: </label>
                  <%= text_field_tag('car[qsr]', @car.qsr,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">终止日: </label>
                  <%= text_field_tag('car[zzr]', @car.zzr,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">存放地址: </label>
                  <%= text_field_tag('car[cfdz]', @car.cfdz,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">押品备注: </label>
                  <%= text_field_tag('car[ypbz]', @car.ypbz,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">押品单位: </label>
                  <%= text_field_tag('car[ypdw]', @car.ypdw,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">质抵押率: </label>
                  <%= text_field_tag('car[zdyl]', @car.zdyl,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">可押价值: </label>
                  <%= text_field_tag('car[kdjz]', @car.kdjz,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">已押价值: </label>
                  <%= text_field_tag('car[yyjz]', @car.yyjz,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">押品数量: </label>
                  <%= text_field_tag('car[ypsl]', @car.ypsl,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">地区: </label>
                  <%= text_field_tag('car[dq]', @car.dq,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">评估单位: </label>
                  <%= text_field_tag('car[pgdw]', @car.pgdw,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">评估人员: </label>
                  <%= text_field_tag('car[pgry]', @car.pgry,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">移动GPS数: </label>
                  <%= text_field_tag('car[ydgps]', @car.ydgps,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">固定GPS: </label>
                  <%= text_field_tag('car[gdgps]', @car.gdgps,{class: 'form-control'}) %>
                </div>
              </div><!-- col-4 -->
              <div class="col-12" style="border-top: 1px solid #888888">

                <h6 class="card-body-title  mg-b-20" style="margin-top: 15px;color: #888888">车辆信息</h6>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">车辆识别码: </label>
                  <%= text_field_tag('car[clsbm]', @car.clsbm,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">汽车品牌: </label>
                  <%= text_field_tag('car[qcpp]', @car.qcpp,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">汽车型号: </label>
                  <%= text_field_tag('car[qcxh]', @car.qcxh,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">全部型号信息: </label>
                  <%= text_field_tag('car[qbxhxx]', @car.qbxhxx,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">城市标识: </label>
                  <%= text_field_tag('car[csbs]', @car.csbs,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">上牌时间: </label>
                  <%= text_field_tag('car[spsj]', @car.spsj,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">出厂日期: </label>
                  <%= text_field_tag('car[ccrq]', @car.ccrq,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">行驶公里(万公里): </label>
                  <%= text_field_tag('car[xsgl]', @car.xsgl,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">车辆颜色: </label>
                  <%= text_field_tag('car[clys]', @car.clys,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">内饰状况: </label>
                  <%= text_field_tag('car[nsqk]', @car.nsqk,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">漆面状况: </label>
                  <%= text_field_tag('car[qmqk]', @car.qmqk,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">工况状况: </label>
                  <%= text_field_tag('car[gkzk]', @car.gkzk,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">过户次数: </label>
                  <%= text_field_tag('car[ghcs]', @car.ghcs,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">系统评估价: </label>
                  <%= text_field_tag('car[xtpgj]', @car.xtpgj,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">平均评估价: </label>
                  <%= text_field_tag('car[pjpgj]', @car.pjpgj,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">汽车牌照: </label>
                  <%= text_field_tag('car[qcpz]', @car.qcpz,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">付款方式: </label>
                  <%= text_field_tag('car[fkfs]', @car.fkfs,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">发动机号码: </label>
                  <%= text_field_tag('car[fdjhm]', @car.fdjhm,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">国产/进口: </label>
                  <!--= text_field_tag('car[gcjk]', @car.gcjk,{class: 'form-control'}) %-->
                  <select name="car[gcjk]" class="form-control select2" data-placeholder="Choose Browser">
                    <option value="国产"<%=@car.gcjk=='国产' ? 'selected' : ''%>>国产</option>
                    <option value="进口"<%=@car.gcjk=='进口' ? 'selected' : ''%>>进口</option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">购买时间: </label>
                  <%= text_field_tag('car[gmsj]', @car.gmsj,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">购买价格: </label>
                  <%= text_field_tag('car[gmjg]', @car.gmjg,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">使用年限: </label>
                  <%= text_field_tag('car[synx]', @car.synx,{class: 'form-control'}) %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-control-label">排量: </label>
                  <%= text_field_tag('car[pl]', @car.pl,{class: 'form-control'}) %>
                </div>
              </div>
            </div><!-- row -->
            <% if @car.status==Loan::VERIFYFAIL %>
                <div>
                  <div class="form-group">
                    <label class="form-control-label">是否提交初审: <span class="tx-danger">*</span></label>
                    <div class="controls">
                      <%= radio_button_tag('car[status]', Loan::VERIFYFAIL, @car.status==Loan::VERIFYFAIL ? '1' : nil) %>
                      暂不提交初审
                      <%= radio_button_tag('car[status]', Loan::UNVERIFIED, @car.status==Loan::UNVERIFIED ? '1' : nil) %>
                      提交初审
                    </div>
                  </div>
                </div>

                <div class="form-layout-footer">
                  <button class="btn btn-info mg-r-5">保存</button>
                </div><!-- form-layout-footer -->
            <% elsif @car.status==Loan::VERIFYPASS %>

                <div class="form-layout-footer">
                  <div style="text-align: right;color: green">审核通过</div>
                </div><!-- form-layout-footer -->
            <% else %>

                <div class="form-layout-footer">
                  <div style="text-align: right;color: red">审核中</div>
                </div><!-- form-layout-footer -->
            <% end %>

          </div><!-- form-layout -->
      <%end%>
    </div>
  </div><!-- sl-page-title -->
