
<div class="card pd-20 pd-sm-40 mg-t-20">



  <%= form_tag('/admin/loans/customer', class:'stdform') do %>
      <%= hidden_field_tag 'customer[loan_id]', params[:id] %>
      <div class="form-layout">
        <div class="row">

          <div class="col-lg-12">
            <div class="form-group" style="overflow: auto">
              <label class="form-control-label">审核备注: <span class="tx-danger">*</span></label>
              <div class="table-responsive">
                <table class="table mg-b-0">
                  <thead>
                  <tr>
                    <th>类型</th>
                    <th>原因</th>
                    <th>时间</th>
                  </tr>
                  </thead>
                  <tbody id="table-customer">
                  <% @loan.loan_comments.each do |ele| %>
                      <tr>
                        <td><%=ele.status%></td>
                        <td><%=ele.content%></td>
                        <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- col-4 -->

        </div><!-- row -->
      </div><!-- form-layout -->
  <%end%>
</div>
