
<div class="card pd-20 pd-sm-40 mg-t-20">

  <h6 class="card-body-title  mg-b-20">个人信息</h6>


  <%= form_tag('/admin/loans/customer', class:'stdform') do %>
      <%= hidden_field_tag 'customer[loan_id]', params[:id] %>
      <div class="form-layout">
        <div class="row">

          <div class="col-lg-12">
            <div class="form-group" style="overflow: auto">
              <label class="form-control-label">资料列表: <span class="tx-danger">*</span></label>
              <div class="table-responsive">
                <table class="table mg-b-0">
                  <thead>
                  <tr>
                    <th>文件名</th>
                    <th style="width: 200px">日期</th>
                    <% if @customer.status==Loan::VERIFYFAIL %>
                        <th style="width: 100px">
                          <label class="custom-file" style="display: none">
                            <input type="file" class="customer-file" id="customer" class="custom-file-input">
                          </label>
                          <a onclick="upload('customer')">上传</a>
                        </th>
                    <% end %>
                  </tr>
                  </thead>
                  <tbody id="table-customer">
                  <% @customer.customer_images.each do |ele| %>
                      <tr>
                        <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
                        <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                        <% if @customer.status==Loan::VERIFYFAIL %>
                            <td>
                              <%= link_to '删除', admin_customer_image_path(ele), method: :delete, data: {confirm: '确定删除?'} %>
                            </td>
                        <% end %>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- col-4 -->

        </div><!-- row -->
          <% if @customer.status==Loan::VERIFYFAIL %>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label">是否提交初审: <span class="tx-danger">*</span></label>
                  <div class="controls">
                    <%= radio_button_tag('customer[status]', Loan::VERIFYFAIL, @customer.status==Loan::VERIFYFAIL ? '1' : nil) %>
                    暂不提交初审
                    <%= radio_button_tag('customer[status]', Loan::UNVERIFIED, @customer.status==Loan::UNVERIFIED ? '1' : nil) %>
                    提交初审
                  </div>
                </div>
              </div>

          <% elsif @customer.status==Loan::VERIFYPASS %>

              <div class="form-layout-footer">
                <div style="text-align: right;color: green">审核通过</div>
              </div><!-- form-layout-footer -->
          <% else %>

              <div class="form-layout-footer">
                <div style="text-align: right;color: red">审核中</div>
              </div><!-- form-layout-footer -->
          <% end %>

        <% if @customer.status!=Loan::VERIFYPASS && @customer.status!=Loan::UNVERIFIED %>
            <div class="form-layout-footer">
              <button class="btn btn-info mg-r-5">保存</button>
            </div><!-- form-layout-footer -->
        <% end %>
      </div><!-- form-layout -->
  <%end%>
</div>
