<div class="col-6">
  <div class="form-group">
    <label class="form-control-label">借款详细用途: </label>
    <%= text_field_tag('message[jkxxyt]',@message.jkxxyt, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-6">
  <div class="form-group">
    <label class="form-control-label">合同序列号: </label>
    <%= text_field_tag('message[htxlh]',@message.htxlh, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">借款金额: </label>
    <%= text_field_tag('loan[jkje]',@loan.jkje, {class: 'form-control',required:''}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">借款期限: </label>
    <select name="loan[jkqx]" class="form-control select2" data-placeholder="Choose Browser">
      <option value="3"<%=@loan.jkqx==3 ? 'selected' : ''%>>3个月</option>
      <option value="6"<%=@loan.jkqx==6 ? 'selected' : ''%>>6个月</option>
      <option value="6"<%=@loan.jkqx==9 ? 'selected' : ''%>>9个月</option>
      <option value="6"<%=@loan.jkqx==12 ? 'selected' : ''%>>12个月</option>
      <option value="24"<%=@loan.jkqx==24 ? 'selected' : ''%>>24个月</option>
      <option value="36"<%=@loan.jkqx==36 ? 'selected' : ''%>>36个月</option>
    </select>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">借款开始时间: </label>
    <%= text_field_tag('loan[start_time]',(@loan.start_time.present? ? @loan.start_time : Time.now).strftime("%Y-%m-%d"), {class: 'form-control fc-datepicker',required:''}) %>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">服务费: </label>
    <%= text_field_tag('loan[fwf]',@loan.fwf, {class: 'form-control',required:''}) %>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">保险押金: </label>
    <%= text_field_tag('loan[bxyj]',@loan.bxyj, {class: 'form-control',required:''}) %>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">违章押金: </label>
    <%= text_field_tag('loan[wzyj]',@loan.wzyj, {class: 'form-control',required:''}) %>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">产品: </label>
    <select name="loan[product_id]" class="form-control select2" data-placeholder="Choose Browser">
      <% Product.where({status:true}).each do |ele| %>
          <option value="<%=ele.id%>"<%= @loan.product_id==ele.id ? 'selected' : '' %>><%=ele.name%></option>
      <% end %>
    </select>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">姓名: </label>
    <%= text_field_tag('loan[name]',@loan.name, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">性别: </label>
    <%= text_field_tag('message[xb]',@message.xb, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">年龄: </label>
    <%= text_field_tag('message[nl]',@message.nl, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label class="form-control-label">移动电话: </label>
    <%= text_field_tag('message[yddh]',@message.yddh, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-5">
  <div class="form-group">
    <label class="form-control-label">婚姻状况: </label>
    <select name="message[hyzk]" class="form-control select2" data-placeholder="Choose Browser">
      <option value="未婚"<%=@message.hyzk=='未婚' ? 'selected' : ''%>>未婚</option>
      <option value="已婚"<%=@message.hyzk=='已婚' ? 'selected' : ''%>>已婚</option>
      <option value="离异"<%=@message.hyzk=='离异' ? 'selected' : ''%>>离异</option>
    </select>
  </div>
</div>
<div class="col-7">
  <div class="form-group">
    <label class="form-control-label">身份证号: </label>
    <%= text_field_tag('message[sfz]',@message.sfz, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-5">
  <div class="form-group">
    <label class="form-control-label">学历: </label>
    <select name="message[xl]" class="form-control select2" data-placeholder="Choose Browser">
      <option value="本科"<%=@message.xl=='本科' ? 'selected' : ''%>>本科</option>
      <option value="大专"<%=@message.xl=='大专' ? 'selected' : ''%>>大专</option>
      <option value="高中"<%=@message.xl=='高中' ? 'selected' : ''%>>高中</option>
    </select>
  </div>
</div>
<div class="col-7">
  <div class="form-group">
    <label class="form-control-label">住宅电话或手机: </label>
    <%= text_field_tag('message[zzdh]',@message.zzdh, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-12">
  <div class="form-group">
    <label class="form-control-label">户籍详细地址: </label>
    <%= text_field_tag('message[hjxxdz]',@message.hjxxdz, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-12">
  <div class="form-group">
    <label class="form-control-label">现居住地址: </label>
    <%= text_field_tag('message[xjdz]',@message.xjdz, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">起住时间: </label>
    <%= text_field_tag('message[qsjzsj]',@message.qsjzsj, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">供养亲属人数: </label>
    <%= text_field_tag('message[gyqsrs]',@message.gyqsrs, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">房产类别: </label>
    <select name="message[fclb]" class="form-control select2" data-placeholder="Choose Browser">
      <option value="商业按揭房"<%=@message.fclb=='商业按揭房' ? 'selected' : ''%>>商业按揭房</option>
      <option value="无按揭房"<%=@message.fclb=='无按揭房' ? 'selected' : ''%>>无按揭房</option>
      <option value="公积金按揭房"<%=@message.fclb=='公积金按揭房' ? 'selected' : ''%>>公积金按揭房</option>
      <option value="自建房"<%=@message.fclb=='自建房' ? 'selected' : ''%>>自建房</option>
      <option value="租用房"<%=@message.fclb=='租用房' ? 'selected' : ''%>>租用房</option>
      <option value="亲属住房"<%=@message.fclb=='亲属住房' ? 'selected' : ''%>>亲属住房</option>
      <option value="单位住房"<%=@message.fclb=='单位住房' ? 'selected' : ''%>>单位住房</option>
    </select>
  </div>
</div>
<div class="col-5">
  <div class="form-group">
    <label class="form-control-label">单位性质: </label>
    <%= text_field_tag('message[dwxz]',@message.dwxz, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-7">
  <div class="form-group">
    <label class="form-control-label">工作单位: </label>
    <%= text_field_tag('message[gzdw]',@message.gzdw, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">所属行业: </label>
    <%= text_field_tag('message[sshy]',@message.sshy, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">职位: </label>
    <%= text_field_tag('message[zw]',@message.zw, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">起始工作时间: </label>
    <%= text_field_tag('message[qsgzsj]',@message.qsgzsj, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-7">
  <div class="form-group">
    <label class="form-control-label">单位地址: </label>
    <%= text_field_tag('message[dwdz]',@message.dwdz, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-5">
  <div class="form-group">
    <label class="form-control-label">单位电话: </label>
    <%= text_field_tag('message[dwdh]',@message.dwdh, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">月收入约(元): </label>
    <%= text_field_tag('message[jbsr]',@message.jbsr, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-qtsr">其他收入约(元): </label>
    <%= text_field_tag('message[qtsr]',@message.qtsr, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">每月总收入(元): </label>
    <%= text_field_tag('message[zsr]',@message.zsr, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">配偶姓名: </label>
    <%= text_field_tag('message[qs1]',@message.qs1, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">关系: </label>
    <%= text_field_tag('message[qs1_gx]',@message.qs1_gx, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">移动电话: </label>
    <%= text_field_tag('message[qs1_dh]',@message.qs1_dh, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">直系亲属姓名: </label>
    <%= text_field_tag('message[qs2]',@message.qs2, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">关系: </label>
    <%= text_field_tag('message[qs2_gx]',@message.qs2_gx, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">移动电话: </label>
    <%= text_field_tag('message[qs2_dh]',@message.qs2_dh, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">其他联系人姓名: </label>
    <%= text_field_tag('message[qs3]',@message.qs3, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">关系: </label>
    <%= text_field_tag('message[qs3_gx]',@message.qs3_gx, {class: 'form-control'}) %>
  </div>
</div>
<div class="col-4">
  <div class="form-group">
    <label class="form-control-label">移动电话: </label>
    <%= text_field_tag('message[qs3_dh]',@message.qs3_dh, {class: 'form-control'}) %>
  </div>
</div>