
<div class="col-lg-6">
  <div class="form-group" style="overflow: auto">
    <label class="form-control-label">汽修宝: <span class="tx-danger">*</span></label>
    <div class="table-responsive">
      <table class="table mg-b-0">
        <thead>
        <tr>
          <th>文件名</th>
          <th style="width: 200px">日期</th>
          <% if @loan.first_verify==Loan::VERIFYFAIL %>
              <th style="width: 100px">
                <label class="custom-file" style="display: none">
                  <input type="file" class="loan-file" id="qxb" class="custom-file-input">
                </label>
                <a onclick="upload('qxb')">上传</a>
              </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="table-loan-qxb">
        <% @loan.loan_images.where(style:'qxb').each do |ele| %>
            <tr>
              <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
              <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
              <% if @loan.first_verify==Loan::VERIFYFAIL %>
                  <td>
                    <%= link_to '删除', admin_loan_image_path(ele), method: :delete, data: { confirm: '确定删除?' }%>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- col-4 -->
<div class="col-lg-6">
  <div class="form-group" style="overflow: auto">
    <label class="form-control-label">车300评估: <span class="tx-danger">*</span></label>
    <div class="table-responsive">
      <table class="table mg-b-0">
        <thead>
        <tr>
          <th>文件名</th>
          <th style="width: 200px">日期</th>
          <% if @loan.first_verify==Loan::VERIFYFAIL %>
              <th  style="width: 100px">
                <label class="custom-file" style="display: none">
                  <input type="file" class="loan-file" id="csb" class="custom-file-input">
                </label>
                <a onclick="upload('csb')">上传</a>
              </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="table-loan-csb">
        <% @loan.loan_images.where(style:'csb').each do |ele| %>
            <tr>
              <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
              <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
              <% if @loan.first_verify==Loan::VERIFYFAIL %>
                  <td>
                    <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- col-4 -->
<div class="col-lg-6">
  <div class="form-group" style="overflow: auto">
    <label class="form-control-label">网查执法网: <span class="tx-danger">*</span></label>
    <div class="table-responsive">
      <table class="table mg-b-0">
        <thead>
        <tr>
          <th>文件名</th>
          <th style="width: 200px">日期</th>
          <% if @loan.first_verify==Loan::VERIFYFAIL %>
              <th  style="width: 100px">
                <label class="custom-file" style="display: none">
                  <input type="file" class="loan-file" id="wczfw" class="custom-file-input">
                </label>
                <a onclick="upload('wczfw')">上传</a>
              </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="table-loan-wczfw">
        <% @loan.loan_images.where(style:'wczfw').each do |ele| %>
            <tr>
              <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
              <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
              <% if @loan.first_verify==Loan::VERIFYFAIL %>
                  <td>
                    <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- col-4 -->
<div class="col-lg-6">
  <div class="form-group" style="overflow: auto">
    <label class="form-control-label">失信网: <span class="tx-danger">*</span></label>
    <div class="table-responsive">
      <table class="table mg-b-0">
        <thead>
        <tr>
          <th>文件名</th>
          <th style="width: 200px">日期</th>
          <% if @loan.first_verify==Loan::VERIFYFAIL %>
              <th  style="width: 100px">
                <label class="custom-file" style="display: none">
                  <input type="file" class="loan-file" id="sxw" class="custom-file-input">
                </label>
                <a onclick="upload('sxw')">上传</a>
              </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="table-loan-sxw">
        <% @loan.loan_images.where(style:'sxw').each do |ele| %>
            <tr>
              <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
              <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
              <% if @loan.first_verify==Loan::VERIFYFAIL %>
                  <td>
                    <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- col-4 -->
<div class="col-lg-6">
  <div class="form-group" style="overflow: auto">
    <label class="form-control-label">汽车违章: <span class="tx-danger">*</span></label>
    <div class="table-responsive">
      <table class="table mg-b-0">
        <thead>
        <tr>
          <th>文件名</th>
          <th style="width: 200px">日期</th>
          <% if @loan.first_verify==Loan::VERIFYFAIL %>
              <th  style="width: 100px">
                <label class="custom-file" style="display: none">
                  <input type="file" class="loan-file" id="qcwz" class="custom-file-input">
                </label>
                <a onclick="upload('qcwz')">上传</a>
              </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="table-loan-qcwz">
        <% @loan.loan_images.where(style:'qcwz').each do |ele| %>
            <tr>
              <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
              <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
              <% if @loan.first_verify==Loan::VERIFYFAIL %>
                  <td>
                    <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- col-4 -->
<div class="col-lg-6">
  <div class="form-group" style="overflow: auto">
    <label class="form-control-label">保险出单: <span class="tx-danger">*</span></label>
    <div class="table-responsive">
      <table class="table mg-b-0">
        <thead>
        <tr>
          <th>文件名</th>
          <th style="width: 200px">日期</th>
          <% if @loan.first_verify==Loan::VERIFYFAIL %>
              <th  style="width: 100px">
                <label class="custom-file" style="display: none">
                  <input type="file" class="loan-file" id="bxcd" class="custom-file-input">
                </label>
                <a onclick="upload('bxcd')">上传</a>
              </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="table-loan-bxcd">
        <% @loan.loan_images.where(style:'bxcd').each do |ele| %>
            <tr>
              <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
              <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
              <% if @loan.first_verify==Loan::VERIFYFAIL %>
                  <td>
                    <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- col-4 -->
<div class="col-lg-6">
  <div class="form-group" style="overflow: auto">
    <label class="form-control-label">现场车况检查: <span class="tx-danger">*</span></label>
    <div class="table-responsive">
      <table class="table mg-b-0">
        <thead>
        <tr>
          <th>文件名</th>
          <th style="width: 200px">日期</th>
          <% if @loan.first_verify==Loan::VERIFYFAIL %>
              <th  style="width: 100px">
                <label class="custom-file" style="display: none">
                  <input type="file" class="loan-file" id="xcck" class="custom-file-input">
                </label>
                <a onclick="upload('xcck')">上传</a>
              </th>
          <% end %>
        </tr>
        </thead>
        <tbody id="table-loan-xcck">
        <% @loan.loan_images.where(style:'xcck').each do |ele| %>
            <tr>
              <td><a href="<%= ele.img.url %>" target="_blank"><%= ele.img.url.split('/').last %></a></td>
              <td><%=ele.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
              <% if @loan.first_verify==Loan::VERIFYFAIL %>
                  <td>
                    <%= link_to '删除', "/admin/loan_images/destroyimg/#{ele.id}", onclick:"if(confirm('确认删除？')==false)return false;" %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- col-4 -->