<!DOCTYPE html><html>

<head>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,user-scalable=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title>云指贷</title>
  <style>
    table, th, td {
      border: 1px solid #00000f;
    }

    table {
      border-collapse: collapse;
    }
  </style>
</head>
<body>
<div style="width: 800px;margin-left: auto;margin-right: auto;position: relative">
    <div style="text-align: center;font-size: 30px;line-height: 60px;margin-top: 30px">
      云指贷还款说明书
    </div>
  <div style="text-align: center;font-size: 20px;line-height: 50px">
    云指贷还款明细清单
  </div>
  <table style="width: 100%;max-width: 1000px;border: 1px solid #cccccc">
    <thead class="bg-info">
      <tr>
        <th>期数</th>
        <th>还款日期</th>
        <th>还款总额</th>
        <th>本金</th>
        <th>利息+风险金</th>
        <th>gps费用</th>
        <th>进件抵押费</th>
        <th>平台管理费</th>
        <th>违章押金</th>
      </tr>
      </thead>
      <tbody style="text-align: center;">
      <% @instalments.each do |ele| %>
          <tr>
            <td><%= ele[:periods]%></td>
            <td><%=ele[:overdue_time].strftime('%Y-%m-%d')%></td>
            <td><%= ele[:balance].to_f %></td>
            <td><%= ele[:bj].to_f %></td>
            <td><%= ele[:lx].to_f %></td>
            <td><%= ele[:gpsfy].to_f + ele[:gpsllf].to_f %></td>
            <td><%= ele[:jjf]||0.0 %></td>
            <td><%= ele[:fwf]||0.0 %></td>
            <td><%= ele[:wzyj]||0.0 %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div style="margin-top: 30px">
      声明：<br />
      本人已明晰上述各项收费标准及含义（含账户管理费、服务费、保证金、GPS费用），并了解贷款发放后的权利和义务。
    </div>
    <div style="margin-top: 20px;text-align: right;padding-right: 100px">客户签名：</div>
    <div style="margin-top: 20px;text-align: right;padding-right: 100px">签订日期：</div>
    <div style="margin-top: 30px">
      注：收登记证书1本、备用车钥匙1把。<br />
      1、以上收费标准请参见平台相关收费标准。<br />
      2、以上成本不包括逾期迟还款费用，逾期罚息以借条为准，催收费用另计。<br />
      3、每月<%=@instalments[0][:overdue_time].strftime("%d")%>日下午17：30分之前必须还款，如发生逾期 每天收本金0.3%滞纳金.GPS费用：1000元，流量费100元/月。【如提前还款收本金5%违约金，保证金不予退还】<br />
      4、具体还款金额与还款日期以贷款成功后网站自动计算结果为准。
    </div>

</div>

</body>

</html>