<div class="container-fluid">
  <h3 class="page-title">代理表</h3>
  <div class="row">
    <div class="col-md-12">
      <!-- BORDERED TABLE -->
      <div class="panel">
        <div style="padding: 20px 25px">
          <form>
            <input type="text" placeholder="账号" class="form-control index-form-control" name="name" value="<%=params[:name]%>">
            <button class="btn btn-primary" style="margin-left: 3px">查询</button>
            <a type="button" class="btn btn-default" href="<%=new_admin_agent_path%>">添加代理</a>
          </form>
        </div>
        <div class="panel-body" style="padding-top: 0">
          <table class="table table-bordered" style="margin-bottom: 0">
            <thead>
            <tr>
              <th>#</th>
              <th>账号</th>
              <th>充值总额</th>
              <th>提现总额</th>
              <th>操作</th>
            </tr>
            </thead>

            <tbody>
              <%@users.each do |ele|%>
                <tr>
                  <td><%=ele.id%></td>
                  <td><%=ele.login%></td>
                  <td><%= Payment.where({user:User.where(father_id:ele.id),status:1,payment_type: 1}).sum(:balance) %></td>
                  <td><%= Payment.where({user:User.where(father_id:ele.id),status:1,payment_type: 0}).sum(:balance) %></td>
                  <td><a href="<%= admin_agent_path(ele) %>">操作</a></td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <div class="dataTables_wrapper no-footer" style="text-align: right">
            <%= paginate @users %>
          </div>
        </div>
      </div>
      <!-- END BORDERED TABLE -->
    </div>
  </div>
</div>