<% content_for :css do %>
    <style>
      .form-group {
        overflow: auto;
        margin-bottom: 10px;
      }

      .form-group .form-control {
        float: left;
        width: auto;
      }

      .form-group .form-control-label {
        float: left;
        line-height: 39px;
        margin-bottom: 0;
        padding: 0 10px;
        width: auto;
      }
    </style>
<% end %>

<nav class="breadcrumb sl-breadcrumb">
  <!--a class="breadcrumb-item" href="index.html">Starlight</a>
  <a class="breadcrumb-item" href="index.html">Pages</a-->
  <span class="breadcrumb-item active">审核成功详单</span>
</nav>

<div class="sl-pagebody">
  <div class="sl-page-title">
    <div class="card pd-20 pd-sm-40">

      <h6 class="card-body-title">审核成功详单</h6>
      <form>
      <div class="form-layout pd-b-10 pd-t-10">
        <div class="row" style="margin: 0">
          <div class="form-group">
            <label class="form-control-label">姓名: </label>
            <input class="form-control" type="text" name="name" value="<%=params[:name]%>">
          </div>
          <div class="form-layout-footer" style="padding-left: 10px">
            <button class="btn btn-info mg-r-5" style="line-height: 1">查询</button>
            <button name="export" value="export" class="btn btn-secondary mg-r-5" >导出文件</button>
          </div><!-- form-layout-footer -->
        </div><!-- row -->

      </div><!-- form-layout -->
      </form>
      <div style="overflow: auto;width: 100%;">
        <table class="table table-hover table-bordered mg-b-0">
          <thead class="bg-info">
          <tr>
            <th>合同号</th>
            <th>姓名</th>
            <th>区域</th>
            <th>贷款金额</th>
            <th>利率</th>
            <th>期数</th>
            <th>每月还款金额</th>
            <th>还款日</th>
            <th>身份证</th>
            <th>联系方式</th>
          </tr>
          </thead>
          <tbody>
          <% @loans.each do |ele| %>
              <tr>
                <td><%= ele.loan_message.htxlh%></td>
                <td><a href="<%= instalment_admin_bills_path(ele) %>"><%= ele.name %></a></td>
                <td><%= ele.user.location%></td>
                <td><%= ele.jkje%></td>
                <td><%= ele.product.lx%>%</td>
                <td><%= ele.jkqx%></td>
                <td><%= ele.instalments.where("overdue_time > '#{Time.now.strftime('%Y-%m-%d')}'").first.balance%></td>
                <td><%= (ele.instalments[0].present? ? (ele.instalments[0].overdue_time-1.days).strftime("%d") : '')%></td>
                <td><%= ele.loan_message.sfz%></td>
                <td><%= ele.loan_message.yddh%></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="dataTables_wrapper no-footer">
        <%= paginate @loans %>
      </div>
    </div>
  </div><!-- sl-page-title -->

</div><!-- sl-pagebody -->