
<%content_for :css do%>

    <style>
      .form-group{
        overflow: auto;
        margin-bottom: 10px;
      }
      .form-group .form-control{
        float: left;
        width: auto;
      }
      .form-group .form-control-label{
        float: left;
        line-height: 39px;
        margin-bottom: 0;
        padding: 0 10px;
        width: auto;
      }
    </style>
<%end%>

<nav class="breadcrumb sl-breadcrumb">
  <!--a class="breadcrumb-item" href="index.html">Starlight</a>
  <a class="breadcrumb-item" href="index.html">Pages</a-->
  <span class="breadcrumb-item active">借款到期详单</span>
</nav>

<div class="sl-pagebody">
  <div class="sl-page-title">
    <div class="card pd-20 pd-sm-40">

      <h6 class="card-body-title">借款到期详单</h6>
      <form>
      <div class="form-layout pd-b-10 pd-t-10">
        <div class="row" style="margin: 0">
          <div class="form-group">
            <label class="form-control-label">姓名: </label>
            <input class="form-control" type="text" name="name" value="<%=params[:name]%>">
          </div>
          <div class="form-group">
            <label class="form-control-label">日期: </label>
            <input class="form-control fc-datepicker" type="text" name="time" value="<%=params[:time] || Time.now.strftime('%Y-%m-%d')%>">
          </div>
          <div class="form-layout-footer" style="padding-left: 10px">
            <button class="btn btn-info mg-r-5" style="line-height: 1">查询</button>
          </div><!-- form-layout-footer -->
        </div><!-- row -->

      </div><!-- form-layout -->
      </form>
      <div style="overflow: auto;width: 100%;">
      <table class="table table-hover table-bordered mg-b-0">
        <thead class="bg-info">
        <tr>
          <th>合同编号</th>
          <th>姓名</th>
          <th>身份证</th>
          <th>联系方式</th>
          <th>还款金额</th>
          <th>到期时间</th>
          <th>是否已还款</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%@loans.each do |ele|%>
            <tr>
              <td><%= ele.loan.loan_message.htxlh%></td>
              <td><%= ele.loan.name %></td>
              <td><%= ele.loan.loan_message.sfz%></td>
              <td><%= ele.loan.loan_message.yddh%></td>
              <td><%=ele.balance%></td>
              <td><%=ele.overdue_time.strftime('%Y-%m-%d')%></td>
              <td>
                <% if !ele.can_repay %>
                    还款审核中
                <% elsif ele.has_repay %>
                    已还款
                <% else %>
                    未还款
                <% end %>
              </td>
              <td>
                <% if ele.can_repay && !ele.has_repay %>
                    <%= link_to '提交还款', "/admin/bills/repay/#{ele.id}?type=cuishou", onclick: "if(confirm('确认提交还款吗？')==false)return false;" %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      </div>
      <div class="dataTables_wrapper no-footer">
        <%= paginate @loans %>
      </div>
    </div>
  </div><!-- sl-page-title -->

</div><!-- sl-pagebody -->
<%content_for :js do%>
    <script>
        $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat:'yy-mm-dd'
        });
    </script>
<%end%>