
<%content_for :css do%>

    <style>
      .form-group{
        overflow: auto;
        margin-bottom: 10px;
      }
      .form-group .form-control{
        float: left;
        width: auto;
      }
      .form-group .form-control-label{
        float: left;
        line-height: 39px;
        margin-bottom: 0;
        padding: 0 10px;
        width: auto;
      }
    </style>
<%end%>

<nav class="breadcrumb sl-breadcrumb">
  <!--a class="breadcrumb-item" href="index.html">Starlight</a>
  <a class="breadcrumb-item" href="index.html">Pages</a-->
  <span class="breadcrumb-item active">审核成功未打款</span>
</nav>

<div class="sl-pagebody">
  <div class="sl-page-title">
    <div class="card pd-20 pd-sm-40">

      <h6 class="card-body-title">订单列表</h6>
      <div style="overflow: auto;width: 100%;">
      <table class="table table-hover table-bordered mg-b-0" style="margin-top: 10px">
        <thead class="bg-info">
        <tr>
          <th>合同号</th>
          <th>姓名</th>
          <th>金额</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%@loans.each do |ele|%>
            <tr>
              <td><%= ele.loan_message.htxlh%></td>
              <td><a href="<%=admin_loan_path(ele)%>"><%= ele.name%></a></td>
              <td><%= IntegerUtil.convert(ele.get_agreeement_balance)%></td>
              <td>
                <%= link_to '打款', pay_admin_bills_path(ele), onclick:"if(confirm('确认打款#{IntegerUtil.convert(ele.get_agreeement_balance)}元吗？')==false)return false;" %> &nbsp;
              </td>
            </tr>
        <%end%>
        </tbody>
      </table>
      </div>
      <div class="dataTables_wrapper no-footer">
        <%= paginate @loans %>
      </div>
    </div>
  </div><!-- sl-page-title -->

</div><!-- sl-pagebody -->