<div class="container-fluid">
  <h3 class="page-title">盘口
    <a href="<%= new_admin_game_path %>">添加盘口</a>
  </h3>
  <div class="row">
    <div class="col-md-12">
      <!-- BORDERED TABLE -->
      <div class="panel">
        <div style="padding: 20px 25px">
        </div>
        <div class="panel-body">
          <table class="table table-bordered" style="margin-bottom: 0">
            <thead>
            <tr>
              <th>id</th>
              <th>比赛名</th>
              <th>赔率1</th>
              <th>赔率2</th>
              <th>类型</th>
              <th>状态</th>
              <th>比赛场次</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <%@match.games.each do |ele|%>
                <tr>
                  <td><%=ele.id%></td>
                  <td><%=ele.name%></td>
                  <td><%=ele.odds1%></td>
                  <td><%=ele.odds2%></td>
                  <td><%=ele.category%></td>
                  <td><%=ele.status%></td>
                  <td><%=ele.match.name %></td>
                  <td>
                    <% if ele.status!=1 %>
                        <a href="<%= admin_game_path(ele) %>">
                          修改赔率
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="<%= settlement_admin_games_path(ele)%>">
                          结算
                        </a>
                    <% end %>
                  </td>
                </tr>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END BORDERED TABLE -->
    </div>
  </div>
</div>