<div class="container-fluid">
  <h3 class="page-title">盘口
    <!--<a href="<%= new_admin_game_path %>">添加盘口</a>-->
    <a href="<%= new_admin_game_path(:type_id => @match.id) %>">添加盘口</a>
  </h3>
  <div class="row">
    <div class="col-md-12">
      <!-- BORDERED TABLE -->
      <div class="panel">
        <div style="padding: 20px 25px">
        </div>
        <div class="panel-body">
          <table class="table table-bordered" style="margin-bottom: 0">
            <thead>
            <tr>
              <th>比赛名</th>
              <th>结果1</th>
              <th>结果2</th>
              <th>结果3</th>
              <th>结果1获胜</th>
              <th>结果2获胜</th>
              <th>结果3获胜</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <%@match.games.each do |ele|%>
                <tr>
                  <td><%="#{ele.name}#{ele.remark}"%></td>
                  <td>
                    <%=ele.name1%>
                    <%=Order.where({game:ele,team:1}).sum(:point)%>
                  </td>
                  <td>
                    <%=ele.name2%>
                    <%=Order.where({game:ele,team:2}).sum(:point)%>
                  </td>
                  <td>
                    <%=ele.name3%>
                    <%=Order.where({game:ele,team:3}).sum(:point)%>
                  </td>
                  <td>
                    <!--<%=ele.name1%>-->
                    <%=Order.where({game:ele}).sum(:point)-Order.where({game:ele,team:1}).sum(:get_point)%>
                  </td>
                  <td>
                    <!--<%=ele.name2%>-->
                    <%=Order.where({game:ele}).sum(:point)-Order.where({game:ele,team:2}).sum(:get_point)%>
                  </td>
                  <td>
                    <!--<%=ele.name3%>-->
                    <%=Order.where({game:ele}).sum(:point)-Order.where({game:ele,team:3}).sum(:get_point)%>
                  </td>
                  <td>
                    <% if ele.status!=1 %>
                        <a href="<%= admin_game_path(ele,:type_id => @match.id)  %>">
                          修改赔率
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="<%= settlement_admin_games_path(ele,:type_id => @match.id)%>">
                          结算
                        </a>
                    <% end %>
                  </td>
                </tr>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END BORDERED TABLE -->
    </div>
  </div>
</div>