<div class="container-fluid">
  <h3 class="page-title">比赛列表</h3>
  <div class="row">
    <div class="col-md-12">
      <!-- BORDERED TABLE -->
      <div class="panel">
        <div style="padding: 20px 25px">
          <form>
            <input type="text" placeholder="账号" class="form-control index-form-control" name="name" value="<%= params[:name] %>">
            <input type="text" placeholder="主队" class="form-control index-form-control" name="team1" value="<%= params[:team1] %>">
            <input type="text" placeholder="客队" class="form-control index-form-control" name="team2" value="<%= params[:team2] %>">
            <input type="date" style="margin-left: 3px" class="form-control index-form-control" name="date" value="<%=params[:date]%>">
            <button class="btn btn-primary" style="margin-left: 3px">查询</button>
            <a type="button" class="btn btn-default" href="<%= new_admin_match_path %>">添加比赛</a>
          </form>
        </div>
        <div class="panel-body">
          <table class="table table-bordered" style="margin-bottom: 0">
            <thead>
            <tr>
              <th>id</th>
              <th>比赛名</th>
              <th>队伍1</th>
              <th>队伍2</th>
              <th>开始时间</th>
              <th>状态</th>
              <th>比赛id</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% @matches.each do |ele| %>
                <tr>
                  <td><%= ele.id %></td>
                  <td><%= ele.name %></td>
                  <td><%= ele.team1 %></td>
                  <td><%= ele.team2 %></td>
                  <td><%= ele.start_time %></td>
                  <!--<td><%= ele.status %></td>-->
                  <td>
                    <% if ele.status == 0 %>
                        <a>未开始</a>
                    <% elsif ele.status == 1 %>
                        <a>可押注</a>
                    <% elsif ele.status == 2 %>
                        <a>进行中</a>
                    <% elsif ele.status == 3 %>
                        <a>已结束</a>
                    <% end %>
                  </td>
                  <td><%= ele.match_id %></td>
                  <td>
                    <a href="<%= admin_match_path(ele) %>">操作</a>&nbsp;&nbsp;
                    <a onclick="offline_match(<%=ele.id%>)">下线比赛</a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div class="dataTables_wrapper no-footer" style="text-align: right">
            <%= paginate @matches %>
          </div>
        </div>
      </div>
      <!-- END BORDERED TABLE -->
    </div>
  </div>
</div>

<% content_for :js do %>
    <script>
        function get_match_id(id) {
            $.ajax({
                url: '/admin/matches/get_match_id?id=' + id,
                type: 'post',
                success: function (data) {
                    if (data.code == 0) {
                        alert('添加成功')
                        history.go(0)
                    } else {
                        alert('找不到比赛id')
                    }
                    console.log(data)
                }
            })
        }

        function delete_match_id(id) {
            $.ajax({
                url: '/admin/matches/delete_match_id?id=' + id,
                type: 'post',
                success: function (data) {
                    if (data.code == 0) {
                        alert('删除成功')
                        history.go(0)
                    }
                    console.log(data)
                }
            })
        }

        function offline_match(id) {
            if(window.confirm('你确定要下架比赛吗？')){
                $.ajax({
                    url: '/admin/matches/offline_match?id=' + id,
                    type: 'post',
                    success: function (data) {
                        if (data.code == 0) {
//                            alert('下架成功');
                            history.go(0)
                        }
                        console.log(data)
                    }
                })
                return true;
            }else{
                //alert("取消");
                return false;
            }
        }
    </script>
<% end %>