<div class="container-fluid">
  <h3 class="page-title">收款配置</h3>
  <div class="row">
    <div class="col-md-12">
      <!-- BORDERED TABLE -->
      <div class="panel">
        <div class="panel-heading"></div>
        <div class="panel-body" style="padding-top: 0">
          <%= form_for([:admin, @user_payment], :html => {enctype: 'multipart/form-data', class: 'stdform'}) do |f| %>

              <div class="row">
                <div class="col-xs-4">
                  <div class="form-group">
                    <label>银行状态</label>
                    <%= f.select :bank_status, [["开启", "true"], ["关闭", "false"]], {}, {class: "form-control"} %>
                  </div>
                  <div class="form-group">
                    <label>银行卡号</label>
                    <%= f.text_field(:bank_no, {class: 'form-control'}) %>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group">
                    <label>银行名称</label>
                    <%= f.text_field(:bank_name, {class: 'form-control'}) %>
                  </div>
                  <div class="form-group">
                    <label>收款人姓名</label>
                    <%= f.text_field(:bank_user, {class: 'form-control'}) %>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="form-group">
                    <label>开户网点</label>
                    <%= f.text_field(:bank_address, {class: 'form-control'}) %>
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-xs-4">

                    <button class="btn btn-primary">修改</button>
                  </div>
                </div>
          <% end %>
          </div>
        </div>
        <div style="padding: 10px"></div>
      </div>
      <!-- END BORDERED TABLE -->
    </div>
  </div>

<div class="container-fluid">
  <h3 class="page-title">网站配置</h3>
  <div class="row">
    <div class="col-md-12">
      <!-- BORDERED TABLE -->
      <div class="panel">
        <div class="panel-heading"></div>
        <div class="panel-body" style="padding-top: 0">
          <form class="stdform" action="/admin/user_payments/save_setting" accept-charset="UTF-8" method="post">

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label>标题</label>
                  <input class="form-control" value="<%=@title.val%>" type="text" name="title" id="title">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>客服号码</label>
                  <input class="form-control" value="<%=@customer.val%>" type="text" name="customer" id="customer">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>网站域名</label>
                  <input class="form-control" value="<%=@url.val%>" type="text" name="url" id="url">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>一级反点比例</label>
                  <input class="form-control" value="<%=@rebate.val%>" type="text" name="rebate" id="rebate">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>二级反点比例</label>
                  <input class="form-control" value="<%=@rebate2.val%>" type="text" name="rebate2" id="rebate2">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label>三级反点比例</label>
                  <input class="form-control" value="<%=@rebate3.val%>" type="text" name="rebate3" id="rebate3">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">

                <button class="btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div style="padding: 10px"></div>
    </div>
    <!-- END BORDERED TABLE -->
  </div>
</div>
</div>
<% content_for :js do %>
    <script>
        function changeimg(name) {
            $("#"+name).click()
        };
        $("#alipay_qr").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#dvPreview");
                dvPreview.html("");
                var regex = /(.jpg|.jpeg|.gif|.png|.bmp)$/;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("#alipay_img");
                            img.attr("src", e.target.result);
                            dvPreview.append(img);
                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " isnotavalidimagefile.");
                        dvPreview.html("");
                        return false;
                    }
                });
            } else {
                alert("ThisbrowserdoesnotsupportHTML5FileReader.");
            }
        });

        $("#wechat_qr").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#dvPreview");
                dvPreview.html("");
                var regex = /(.jpg|.jpeg|.gif|.png|.bmp)$/;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("#wechat_img");
                            img.attr("src", e.target.result);
                            dvPreview.append(img);
                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " isnotavalidimagefile.");
                        dvPreview.html("");
                        return false;
                    }
                });
            } else {
                alert("ThisbrowserdoesnotsupportHTML5FileReader.");
            }
        });
    </script>
<%end%>
<%if params[:msg].present?%>
    <script>
        alert('<%=params[:msg]%>')
    </script>
<%end%>