<%= form_for([:admin, @game], :html => {enctype: 'multipart/form-data', class: 'stdform'}) do |f| %>
    <input type="hidden" value="<%=params[:type_id]%>" name="type_id">
    <%if !(@game.id.present?)%>
    <div class="row">
      <div class="form-group col-xs-4">
        <label class="form-control-label">盘口名: </label>
        <select name="game[name]" id="game[name]" class="form-control">
          <option <%= @game.name=='比分盘' ? 'selected' : '' %>>比分盘</option>
          <option <%= @game.name=='让球盘' ? 'selected' : '' %>>让球盘</option>
          <option <%= @game.name=='标准盘' ? 'selected' : '' %>>标准盘</option>
          <option <%= @game.name=='大小球' ? 'selected' : '' %>>大小球</option>
          <option <%= @game.name=='上半场让球盘' ? 'selected' : '' %>>上半场让球盘</option>
          <option <%= @game.name=='上半场大小球' ? 'selected' : '' %>>上半场大小球</option>
        </select>
      </div>

      <div class="form-group col-xs-4">
        <label class="form-control-label">比赛场次: </label>
        <select name="game[match_id]" id="game[match_id]" class="form-control">
          <% Match.where({status:[0,1]}).each do |ele| %>
              <option value="<%= ele.id %>" <%= (ele.id==@game.id || params[:type_id]==ele.id.to_s) ? 'selected' : '' %>><%= "#{ele.name} #{ele.team1}VS#{ele.team2}" %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group col-xs-4">
        <label class="form-control-label">比赛结果数: </label>
        <select name="game[category]" id="game[category]" class="form-control">
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <%end%>
    <div class="row">
      <div class="form-group col-xs-4">
        <label class="form-control-label">结果1: </label>
        <%= text_field_tag('game[name1]', @game.name1, {class: 'form-control'}) %>
      </div>
      <div class="form-group col-xs-4">
        <label class="form-control-label">结果2: </label>
        <%= text_field_tag('game[name2]', @game.name2, {class: 'form-control'}) %>
      </div>
      <div class="form-group col-xs-4">
        <label class="form-control-label">结果3: </label>
        <%= text_field_tag('game[name3]', @game.name3, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-4">
        <label class="form-control-label">赔率1: </label>
        <%= text_field_tag('game[odds1]', @game.odds1, {class: 'form-control'}) %>
      </div>
      <div class="form-group col-xs-4">
        <label class="form-control-label">赔率2: </label>
        <%= text_field_tag('game[odds2]', @game.odds2, {class: 'form-control'}) %>
      </div>
      <div class="form-group col-xs-4">
        <label class="form-control-label">赔率3: </label>
        <%= text_field_tag('game[odds3]', @game.odds3, {class: 'form-control'}) %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-4">
        <label class="form-control-label">是否显示盘口: </label>
        <select name="game[show]" class="form-control">
          <option value="1">显示</option>
          <option value="0" <%= @game.show!=true ? 'selected' : ''%>>不显示</option>
        </select>
      </div>
    </div>

    <div>
      <button class="btn btn-primary">保存</button>
    </div>
<% end %>
