<div class="container-fluid">
  <h3 class="page-title">推荐人列表</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div style="padding: 20px 25px">
          <form>
            <input type="text" placeholder="账号" class="form-control index-form-control" name="login" value="<%= params[:login] %>">
            <button class="btn btn-primary" style="margin-left: 3px">查询</button>
          </form>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>账号</th>
              <th>所属代理</th>
              <th>推荐人数</th>
              <th>有效流水</th>
              <th>可提现金额</th>
              <th>已提现金额</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |ele| %>
                <% referee= User.find(ele.referee)%>
                <tr>
                  <td><%= referee.id %></td>
                  <td><%= referee.login %></td>
                  <td><%= (User.where(id:referee.father_id)[0] || User.new()).login %></td>
                  <td><%= User.where(referee:referee.id,father_id:referee.father_id).count %></td>
                  <td><%= referee.effective_journal %></td>
                  <td><%= referee.effective_journal*(((Setting.where(category:'rebate')[0] || Setting.new(category:'rebate')).val).to_f) %></td>
                  <td><%= referee.rebate %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <div class="dataTables_wrapper no-footer" style="text-align: right">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>