
<%= form_for([:admin, @repaylog], :html => {enctype: 'multipart/form-data', class: 'stdform'}) do |f| %>
    <div class="sl-page-title" style="margin-bottom: 0">
      <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">还款审核</h6>

        <div class="form-layout">
          <div class="row ">
            <div class="col-lg-5">
              <div class="form-group">
                <label class="form-control-label">aa: </label>
                <%= text_field_tag('repaylog[no]', @repaylog.no, {class: 'form-control',disabled:''}) %>
              </div>
              <div class="form-group">
                <label class="form-control-label">金额: </label>
                <%= text_field_tag('repaylog[balance]', @repaylog.balance, {class: 'form-control',disabled:''}) %>
              </div>

              <div>
                <div class="form-group">
                  <label class="form-control-label">审核: <span class="tx-danger">*</span></label>
                  <div class="controls">
                    <%= radio_button_tag('repaylog[status]', Loan::VERIFYPASS, @repaylog.status==Loan::VERIFYPASS ? '1' : nil) %>
                    审核成功
                    <%= radio_button_tag('repaylog[status]', Loan::VERIFYFAIL, @repaylog.status==Loan::VERIFYFAIL ? '1' : nil) %>
                    审核失败
                  </div>
                </div>
              </div>
            </div><!-- col-4 -->

          </div><!-- row -->
          <% if @repaylog.status==Loan::UNVERIFIED %>
              <div class="form-layout-footer">
                <button class="btn btn-info mg-r-5">保存</button>
              </div><!-- form-layout-footer -->
          <% end %>
        </div>

      </div>
    </div><!-- sl-page-title -->
<% end %>