<nav class="breadcrumb sl-breadcrumb">
  <!--a class="breadcrumb-item" href="index.html">Starlight</a-->
  <a class="breadcrumb-item" href="index.html">用户管理</a>
  <span class="breadcrumb-item active">用户信息</span>
</nav>

<div class="sl-pagebody">
  <%=render 'form'%>

  <div class="row row-sm mg-t-20">
    <div class="col-6">
      <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">地区权限</h6>

        <div class="row">
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="area" type="checkbox" id="zjwz" <%=@user.user_area.zjwz ? 'checked' :''%>><span>浙江温州</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="area" type="checkbox" id="zjsxsz" <%=@user.user_area.zjsxsz ? 'checked' :''%>><span>绍兴嵊州</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="area" type="checkbox" id="zjsxkq" <%=@user.user_area.zjsxkq ? 'checked' :''%>><span>绍兴柯桥</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="area" type="checkbox" id="zjsxyc" <%=@user.user_area.zjsxyc ? 'checked' :''%>><span>绍兴越城</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="area" type="checkbox" id="zjhz" <%=@user.user_area.zjhz ? 'checked' :''%>><span>浙江杭州</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <label class="ckbox">
              <input class="area" type="checkbox" id="ahhf" <%=@user.user_area.ahhf ? 'checked' :''%>><span>安徽合肥</span>
            </label>
          </div><!-- col-3 -->
        </div><!-- row -->
      </div><!-- card -->
    </div><!-- col-6 -->
    <div class="col-6">
      <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">操作权限</h6>
        <div class="row">
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="power" type="checkbox" id="input" <%=@user.user_power.input ? 'checked' :''%>><span>订单录入</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="power" type="checkbox" id="online_verify" <%=@user.user_power.online_verify ? 'checked' :''%>><span>订单网审</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="power" type="checkbox" id="first_verify" <%=@user.user_power.first_verify ? 'checked' :''%>><span>订单初审</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="power" type="checkbox" id="customer_verify" <%=@user.user_power.customer_verify ? 'checked' :''%>><span>订单人审</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3">
            <label class="ckbox">
              <input class="power" type="checkbox" id="car_verify" <%=@user.user_power.car_verify ? 'checked' :''%>><span>订单车审</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <label class="ckbox">
              <input class="power" type="checkbox" id="financial" <%=@user.user_power.financial ? 'checked' :''%>><span>财务</span>
            </label>
          </div><!-- col-3 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <label class="ckbox">
              <input class="power" type="checkbox" id="totle_loan" <%=@user.user_power.totle_loan ? 'checked' :''%>><span>地区订单管理</span>
            </label>
          </div><!-- col-3 -->
        </div><!-- row -->
      </div><!-- card -->
    </div><!-- col-6 -->
  </div><!-- row -->
</div><!-- sl-pagebody -->


<%content_for :js do%>
    <script>
        $(".area").change(function () {
            area={};
            area[$(this).attr('id')]=$(this).is(":checked")
            $.ajax({
                url:'<%=update_area_admin_users_path%>',
                type:'post',
                data:{
                    id:<%=@user.id%>,
                    area:area
                },
                success:function (data) {

                }
            })
        })
        $(".power").change(function () {
            power={};
            power[$(this).attr('id')]=$(this).is(":checked")
            $.ajax({
                url:'<%=update_power_admin_users_path%>',
                type:'post',
                data:{
                    id:<%=@user.id%>,
                    power:power
                },
                success:function (data) {

                }
            })
        })
    </script>
<%end%>