
<%content_for :css do%>

    <style>
      .form-group{
        overflow: auto;
        margin-bottom: 10px;
      }
      .form-group .form-control{
        float: left;
        width: auto;
      }
      .form-group .form-control-label{
        float: left;
        line-height: 39px;
        margin-bottom: 0;
        padding: 0 10px;
        width: auto;
      }
    </style>
<%end%>
<nav class="breadcrumb sl-breadcrumb">
  <!--a class="breadcrumb-item" href="index.html">Starlight</a>
  <a class="breadcrumb-item" href="index.html">Pages</a-->
  <span class="breadcrumb-item active">用户管理</span>
</nav>

<div class="sl-pagebody">
  <div class="sl-page-title">
    <div class="card pd-20 pd-sm-40">
      <h6 class="card-body-title">用户列表</h6>

      <div class="form-layout pd-b-10 pd-t-10">
        <div class="row" style="margin: 0">
          <div class="form-layout-footer">
            <a class="btn btn-secondary" style="line-height: 1" href="<%=new_admin_user_area_path%>">新建</a>
          </div><!-- form-layout-footer -->
        </div><!-- row -->

      </div><!-- form-layout -->
      <table class="table table-hover table-bordered mg-b-0">
        <thead class="bg-info">
        <tr>
          <th>id</th>
          <th>名称</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%@user_areas.each do |ele|%>
            <tr>
              <td><%=ele.id%></td>
              <td><%=ele.name%></td>
              <td>
                <%= link_to '删除', admin_user_area_path(ele), method: :delete, data: { confirm: '确定删除?' }%>
              </td>
            </tr>
        <%end%>
        </tbody>
      </table>
      <div class="dataTables_wrapper no-footer">
        <%= paginate @user_areas %>
      </div>
    </div>
  </div><!-- sl-page-title -->

</div><!-- sl-pagebody -->